.chat-room {
    height: 100vh;
    overflow-y: scroll;
}

.chat-box {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: calc(100%-15%);

}

.form-group {

    height: 45px;
    font-size: 20px;
    padding: 8px;
}

.message {

    min-height: 59px;
}

.me {
    float: left;
}

.cont-cont {
    display: inline-block;
    float: right;

}

.content {
    background-color: #4ab4f1;
    padding: 8px 16px;
    border-radius: 15px;
}

/* .form-group .btn {
    height: 40px;
} */